@import '_breakpoint.scss';
@import '_variable.scss';


.all-blog {
    background: 
    #ECEDF2;
    #blog-head {
        padding-top: 20px;

        .icon-side {
            .blog-li {
                padding: 0px 10px;

                .blog-span {
                    font-size: 15px;
                    color: #83868C;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    line-height: 62.74%;
                    /* or 9px */

                    letter-spacing: 0.005em;
                }
            }
        }
    }

    #blog-form-side {
        width: 60%;
        margin: auto;
        padding-top: 50px;

        @include rsp(768px) {
            width: 80%;
        }

        @include betweenRsp(768px, 1400px) {
            width: 90%;
        }

        .center-side {
            .form-side {
                .input-container {
                    position: relative;
                    gap: 1;
                    display: flex;
                    width: 100%;
                    margin-bottom: 15px;
                    height: 60px;
                    background: #FFFDFD;
                    box-shadow: inset 0px 3px 4px rgba(36, 169, 225, 0.15);

                    .input-img {
                        left: 0.04%;
                        right: 0%;
                        top: 0%;
                        bottom: 0%;
                        width: 20px;
                        margin-left: 20px;
                        color: #24A9E1;
                    }

                    .input-field {
                        border: none;
                        outline: none;
                        background-color: #FFFDFD;

                        width: 70%;
                    }

                    .form-span {
                        margin-right: 20px;
                        cursor: pointer;
                        color: #24A9E1;
                        text-align: center;

                        @include rsp(768px) {
                            font-size: 15px;
                        }

                        i {
                            img {
                                @include rsp(768px) {
                                    width: 15px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    #blog-card {
        padding-top: 100px;
        position: relative;
        .blog-pat-logo-1{
            position: absolute;
            top: 50%;
            left: 27%;
            
        }
        .blog-pat-logo-2{
            right: 4%;
            left: 96%;
            top: 65%;
            @extend .blog-pat-logo-1;
           
        }
        .blog-side {
            .blog-card {
            
                height: 617px;
                margin-bottom: 50px;
                position: relative;
                z-index: 1;
                @include betweenRsp(768px, 992px){
                    padding: 0;
                }
                @include betweenRsp(992px, 1200px){
                    padding: 0;
                }
                padding: 30px;
               
                .blog-content-side {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0px 30px 10px ;
                    background-color: #FFFFFF;
                    border-bottom-left-radius:25px ;
                    border-bottom-right-radius:25px ;
                    .blog-date {
                        padding: 10px 0px;

                        .date {
                            font-family: 'Poppins', sans-serif;
                            font-style: normal;
                            font-weight: 550;
                            font-size: 18px;
                            line-height: 27px;
                            /* identical to box height */

                            text-align: center;

                            color: #000000;
                        }
                    }

                    .blog-title {
                        padding: 30px 50px 30px 0px;

                        .title {
                            font-family: 'Poppins', sans-serif;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;

                            color: #000000;
                        }
                    }

                    .blog-description {

                        padding: 30px 50px 30px 0px;

                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                     
                        color: #000000;

                    }

                    .blog-button {
                        padding-top: 20px;
                        .button {
                            background: #24A9E1;
                            border-radius: 15px;
                            border: none;
                            text-decoration: none;
                            p {
                                font-family: 'Poppins', sans-serif;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                margin: 0;
                                /* identical to box height */
                                padding: 10px;
                                text-align: center;
                                cursor: pointer;
                                color: #FAFAFA;
                            }
                        }
                    }
                }
            }
        }
        
    }
}